.CartItems{
   width:50%;
   height: 90%;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   .ImageItem{
      width: 30%;
      height: 65px;
      background-color: green;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      margin: 5px;
   }
   .ValueItem{
      width: 80%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      h3{
         margin-bottom: 10px;
      }
   }
}
