div.Signin{
   display: flex;
   flex-direction: column;
   width: 450px;
   h2{
      margin:10px 5px 12px 5px;
   }
   span{
      margin: 5px;
   }
   form{
      margin-top: 0;
      padding: 0;
      .buttonContainerInSignin{
         display: flex;
         flex-direction: row;
         justify-content: space-between;
      }
   }
}